html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    color-scheme: dark !important;
    height:100%;
}
nav {
    position:absolute;
    margin:15px;
    top:0;
    left:0;
}
main {
    margin-bottom:5vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
header {
    text-align:center;
    margin-bottom:1em;
}
p {
    margin:0px 0px 4px 0px;
}
a {
    color:#3391ff;
    text-decoration: none;
}
nav > a {
    margin: 10px 20px;
}
content > a {
    text-align: center;
}
form {
    background-color:rgb(44, 44, 44);
    border-radius:10px;
    padding:10px;
}
input[type=text] {
    margin: 5px;
}
footer {
    position:absolute;
    bottom:0;
    right:0;
    margin:10px;
}